@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Light.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-display: block;
}
html {
    background-color: #E5E5E5;
}
.principal-ca, .imagen-logo {
    position: sticky;
    width: 2.5rem;
    height: 2.5rem;
    left: 2rem;
    top: 1rem;
}
.principal, .seccion-principal, .input {
    position: relative;
    width: 80%;
    height: 20rem;
    left: 3rem;
    top: 1rem;
}
.input, ::placeholder {
    background-color: #E5E5E5;
    outline: none;
    resize: none;
    border: none;
    opacity: 1;
    font-size: 1.8rem;
    color: #0A3871;
}
.principal .anuncio {
    opacity: 0.7;
    font-size: 0.7rem;
    position: relative;
    top: 10.7rem;
    left: 5.2rem;
}
.img-exclamacion {
    width: 0.8rem;
    position: relative;
    top: 8.7rem;
    left: 4rem;
}
.boton-a, .boton-b{
    font-size: 0.940rem;
    width: 37%;
    height: 17%;
    position: relative;
    top: 11.6rem;
    left: 3rem;
    border: 0.063rem solid #0A3871;
    color: #FFFFFF;
    background-color: #0A3871;
    border-radius: 1.2rem;
}
.boton-a:hover{
    transition: all 0.3s ease 0s;
    transform: translateY(2px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.boton-a:active {
    background-color: #F0F0F1;
    transform: translateY(-1px);
}
.boton-b {
    background-color: #D8DFE8;
    color: #0A3871;
    left: 5rem;
}
.boton-b:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(2px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.boton-b:active {
    background-color: #F0F0F1;
    transform: translateY(-1px);
}
.seccion-secundaria .div-segundasecc {
    position: absolute;
    top: -2.5rem;
    left: 55rem;
    width: 25rem;
    height: 40rem;
    background-color: #FFFFFF;
    border: 0.063rem solid #FFFFFF;
    border-radius: 32px;
}
.texto-encriptado {
    position: relative;
    font-size: 1.5rem;
    margin: 0.5rem;
    height: 6.5rem;
}
.img-muneco {
    position: relative;
    top: 1rem;
    left: 2rem;
    width: 19rem;
}
.anuncio-mun-1, .anuncio-muneco {
    position: relative;
    margin: 0.8rem;
    text-align: center;
}
.anuncio-muneco {
    font-size: 1rem;
}
.boton-copiar {
    border: 0.063rem solid #0A3871;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    font-size: 0.940rem;
    position: relative;
    width: 18rem;
    height: 3.3rem;
    top: 2rem;
    left: 3.5rem;
    visibility: hidden;
}
.boton-copiar:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(-2px);
   }
   
.boton-copiar:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(1px);
}